services:
  db:
    image: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5678:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/18/data # Persists data to a named volume
  web:
    build:
      context: .
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    depends_on:
      db:
        condition: service_healthy
        restart: true
    ports:
      - "8200:8200"

    env_file:
      - .env
    environment:
      DATABASE_HOST: db # The service name of your Postgres container
      DATABASE_USER: ${POSTGRES_USER}
      DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      WEATHER_API_KEY: ${WEATHER_API_KEY}
    develop:
      watch:
        - action: sync+restart
          path: ./
          target: /app/

volumes:
  postgres_data: # Defines the named volume for data persistence
